@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
.err-msg{
  display: none;
}
  .glass-box{
          /* justify-content: center !important; */
   /* gap: 2rem;  */
  }
  .title{
    color:#f2aa00 !important;
  }

  .two-space{
    justify-content: center !important;
    gap: 2rem;
  }

  .glass-box::-webkit-scrollbar {
    display: none;
  }
  .glass-box{
    margin-right: 180px;
border-radius: 10px;
overflow-y:auto;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
background: #333 100% 100%/cover url(https://wstatic-prod.pubg.com/web/live/main_1ba6e24/img/d7beff7.png);
  }
@media (max-width:1030px) {
  .glass-box{
    margin-right: 0px;
  }
}
  body{
    height: 100vh;
    overflow-x: hidden;
    position: relative;
  }

  
  .valo{
    top: 0px;
    position:fixed;
    right: -120px;
    height:100%;
    /* transform: scale(0); */
  }
html{
 background-color: #0E1822;
}

.drop,.jeep{
  display: none;
  z-index: 100;
}
   
.sidebar{
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  position:sticky;
  top:0;
  bottom:0;
  left:0;
 
 
  width: 345px;
  height: 100%;
  border-radius: 20px;
  
  background: rgb(0 0 0 / 61%);
  font-family: 'Chakra Petch', sans-serif;
  overflow: hidden;
 
  
 }

 .sidebar  li{
position: relative;
  list-style: none;
  font-size: 24px;
  padding: 30px 0;

  
 }
 .sidebar  li a{
  text-decoration: none;
  color: white;
  padding:1rem;
  border-radius: 8px;
  margin: 8px 0;
  
 }

 .sidebar li a:hover, .active{
  color:black;
  /* font-size:1.9rem; */
  background-color: #9b9b9b;
 
 

  
}
   /* .sidebar{
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    width: 350px;
    height: 100vh;
    background: rgb(0 0 0 / 61%);
   } */
/* 
   .sidebar  li{
    list-style: none;
    font-size: 30px;
    padding: 20px 0;
   }
   .sidebar  li a{
    text-decoration: none;
    color: white;
   } */

   @media (max-width:992px) {
    .sidebar{
      display: none !important;
    }
  .glass-box{
    width: 100% !important;
  }
   }

   @media (max-width:767px) {
    .extra-padding{
      padding: 0 !important;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
    .glass-box{
      height: 80% !important;
    }
   .valo{
    right: -300px;
   }
   }
  
   
#container
{
    height:50px;
    width:150px;
    overflow: hidden;
    position: relative;
}
#ready
{
    height: 50px;
    width:150px;
    background: linear-gradient(to left,#E4EE0D,#FC9500);
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #0D0D0D;
    z-index: 80;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}




.inputBox {
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #fff;
  border: 1px solid#f2aa00;
  font-size: 1em;
  width: 350px;
}

.inputBox .text {
  position: absolute;
  left: 0;
  padding: 15px 20px;
  pointer-events: none;
  font-size: 1em;
  transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
  color: #f2aa00;
  letter-spacing: 0.1em;
}

.inputBox input:focus ~ .text,
.inputBox input:valid ~ .text {
  font-size: 0.7em;
  transform: translateX(25px) translateY(-7.5px);
  padding: 0 5px;
  border-radius: 2px;
  background: #212121;
  letter-spacing: 0em;
  border: 1px solid #f2aa00;
}

.row>*{
  width: min-content;
}

@media (max-width:1400px) {
  .inputBox input{
    width: 280px;
  }
}
@media (max-width:1200px) {
  .inputBox input{
    width: 200px;
  }
  .valo{
    right: -250px;
  }
  .inputBox .text {
    font-size: 0.9em;
    letter-spacing: 0px;
  }
}


@media (max-width:576px) {
  .glass-box{
    width: 80% !important;
  }
  .inputBox input{
    width: 180px;
    padding: 12px 15px;
  }
  .inputBox .text {
    font-size: 0.80em;
  }
  .two-space{
    gap: 0rem;
  }
.msg{
  font-size: 8px !important;
}
}
@media (max-width:510px) {
  body{
    overflow: hidden;
  }
  .glass-box{
    padding-left: 15px;
    padding-right: 15px;
    height: 600px !important;
    /* justify-content: center !important;
    gap: 2rem;  */
  }
  .inputBox input {
    width: 130px;
  }
  .inputBox .text {
    font-size: 0.65em;
  }

  .title{
    font-size: 40px !important;
    margin-bottom: 0px !important;
    margin-top: 30px !important;
  }
body{
background: url('../images/peakpx.jpg') !important;
background-repeat: no-repeat !important;
background-size: cover !important;
}
 }

 @media (max-width:394px) {
  .my-box{
    width: 100% !important;
  }
  .inputBox input {
    width: 140px;
  }
  .row>*{
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
  .name-em{
    margin-bottom: 20px !important;
  }
  .glass-box form{
    width: 100%;
  }
  .msg{
    margin-bottom: 10px;
  }
 }
 @media (max-width:992px) {
  .valo{
    display: none;
  }
  .glass-outer-box{
    position: relative;
  }
  .drop{
    display: block;
    position: absolute;
    right: -180px;
    bottom: -45px;
    height: 100px;
  }
 }
